.app__faq {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-family: "Poppins";
}
.app__faq img {
  position: absolute;
  left: 0%;
  margin-top: 5rem;
  width: 450px;
  z-index: -1;
}
.app__faq_title {
  text-align: center;
}
.app__faq_title h4 {
  color: rgb(221, 3, 3);
  font-size: 24px;
  margin-bottom: 1px;
}
.app__faq_title h2 {
  margin-top: 5px;
  font-size: 40px;
}
.app__faq_content {
  width: 50%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 5rem;
  background: rgb(255, 255, 255);
  transition: 0.5s;
}
.app__faq_content_faq_box {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.app__faq_content_faq_box svg {
  margin-right: 1rem;
}

.app__faq_content_faq_box span {
  margin-left: 1rem;
}
.app__faq_content_faq_box_text {
  height: auto;
}
.app__faq_content_faq_box_text span {
  margin: 2rem;
}
@media screen and (max-width: 1300px) {
  .app__faq_content {
    width: 80%;
  }
  .app__faq_content_faq_box span {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .app__faq_content {
    width: 90%;
  }
  .app__faq_content_faq_box span {
    font-size: 12px;
  }
  .app__faq_content_faq_box_text span {
    font-size: 11px;
  }
}
