.app__book {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.app__book_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  height: auto;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 0 2rem;
  box-shadow: 1px 1px 5px grey;
}
.app__book_content h4 {
  font-size: 25px;
}
.app__book_content_confirmation {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #86b478;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.app__book_content_confirmation span {
  margin-left: 1rem;
  font-family: "Poppins";
}
.form-input {
  display: flex;
  flex-direction: column;
}
.app__book_content select {
  outline: none;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
  font-family: "Poppins";
  font-size: 15px;
}
.app__book_content form {
  display: grid;
  font-family: "Poppins";
  font-weight: 600;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}
.app__book_content svg {
  margin-right: 7px;
}
.submit-book {
  background-color: rgb(221, 3, 3);
  border-radius: 2px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Poppins";
  font-size: 22px;
  transition: 0.1s;
  cursor: pointer;
}
.submit-book:hover {
  box-shadow: 1px 1px 1px red;
}

@media screen and (max-width: 900px) {
  .app__book_content form {
    display: grid;
    font-family: "Poppins";
    font-weight: 600;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 776px) {
  .app__book_content_confirmation {
    height: 65px;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .app__book_content_confirmation {
    height: 85px;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 690px) {
  .app__book_content form {
    display: grid;
    font-family: "Poppins";
    font-weight: 600;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .form-input {
    width: 99%;
  }
}
