.app__mobile {
  width: 100%;
  height: auto;
  margin-top: 7rem;
}
.app__mobile_bg {
  width: 100%;
  position: absolute;
}
.app__mobile_content {
  position: relative;
  top: 100px;
  width: 40%;
  font-family: "Poppins";
  margin-left: 9rem;
}
.app__mobile_content h2 {
  font-size: 48px;
}
.app__mobile_content span {
  width: 300px;
}
.app__mobile_content_buttons_first {
  margin-right: 2rem;
}
.app__mobile_content_buttons img {
  width: 180px;
  margin-top: 3rem;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .app__mobile {
    margin-top: 0;
  }
  .app__mobile_bg {
    display: none;
  }
  .app__mobile_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 0;
  }
  .app__mobile_content h2,
  .app__mobile_content span {
    width: 60%;
  }
}
@media screen and (max-width: 750px) {
  .app__mobile_content h2 {
    font-size: 35px;
  }
  .app__mobile_content h2,
  .app__mobile_content span {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .app__mobile_content_buttons img {
    width: 130px;
    margin-top: 2rem;
  }
}
