.app__header {
  height: 100vh;
  width: 100%;
  display: flex;
  background: rgb(245, 245, 245);
}
.app__header img {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
/* .app__header_navbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 90px;
} */
.app__header_content {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: "Poppins";
  margin-top: 10rem;
}
.app__header_content_text {
  display: flex;
  position: relative;
  flex-direction: column;
  /* flex-wrap: nowrap; */

  margin: 7rem 3rem 0 0;
  /* min-width: 500px; */
  /* position: relative;
  left: 10%; */

  z-index: 3;
}
.app__header_content_text h5 {
  font-size: 25px;
  margin-bottom: 1rem;
}
.app__header_content_text h1 {
  margin: 1px 0;
  font-size: 50px;
  line-height: 55px;
  flex-wrap: nowrap;
}
.app__header_content_text span {
  color: rgb(221, 3, 3);
}
.app__header_content_text h6 {
  margin-top: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 100;
  color: rgb(70, 70, 70);
}
.app__header_content_image {
  width: 40%;
}
.header_img {
  margin: 22rem 7rem 0 0;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}

.button-book {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  padding: 17px 35px;
  border: 2px solid rgb(221, 3, 3);
  background-color: rgb(221, 3, 3);
  border-radius: 5px;
  color: black;
  text-decoration: none;
  margin-right: 2rem;
  transition: 0.2s ease-in-out;
}
.button-book:hover {
  box-shadow: 0px 1px 5px 2px black;
}
.button-learn {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  padding: 17px 35px;
  border: 2px solid black;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(216, 216, 216);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.button-learn:hover {
  border: 2px solid rgb(3, 3, 3);
  background-color: white;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}
.app__header_content_text_buttons a:visited {
  text-decoration: none;
}
@media screen and (max-width: 1500px) {
  .header_img {
    margin: 22rem 5rem 0 0;
  }
}
@media screen and (max-width: 1200px) {
  .header_img {
    margin: 22rem 1rem 0 0;
  }
}
@media screen and (max-width: 900px) {
  .app__header_content {
    flex-direction: column;
    margin-top: 0rem;
  }
  .app__header_content_text {
    margin-top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .app__header_content_text h1 {
    font-size: 45px;
  }
  .app__header_content_text h5 {
    font-size: 30px;
    font-weight: 500;
  }
  .app__header_content_text_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
  }
  .button-book {
    margin: 0 0 1rem 0;
    width: 200px;
  }
  .button-learn {
    width: 200px;
  }

  .app__header_content_image {
    visibility: hidden;
  }
}
@media screen and (max-width: 450px) {
  .app__header img {
    height: 80%;
  }
  .app__header_content_text h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 350px) {
  .app__header_content_text h5 {
    font-size: 28px;
  }
  .app__header_content_text h1 {
    font-size: 30px;
  }
}
